/* .myevents-container {
  display: flex;
  flex-direction: row;
} */

.component-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#myevent {
  font-size: 30px;
  margin: 0 40%;
  padding: 20px;
}
