.booking-card {
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 16px auto;
}

.booking-card h2 {
  margin: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(166, 36, 202);
}

.booking-card p {
  margin: 4px 0;
  color: black;
}

/* Flexbox container for better layout on larger screens */

.booking-card .booking-details {
  display: flex;
  flex-wrap: wrap;
}

.booking-card .booking-details p {
  flex: 1 1 100%;
}

/* Responsive adjustments */

@media (min-width: 600px) {
  .booking-card {
    padding: 24px;
  }
  .booking-card .booking-details p {
    flex: 1 1 50%;
    /* Display two items per row */
  }
}

@media (min-width: 900px) {
  .booking-card .booking-details p {
    flex: 1 1 33%;
    /* Display three items per row */
  }
}

.btn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.cancel-btn {
  text-decoration: none;
  border: 1px solid green;
  padding: 10px;
  transition: 2s;
}

.cancel-btn:hover {
  text-decoration: none;
  color: black;
}

.update-btn {
  text-decoration: none;
  border: 1px solid rgb(0, 130, 251);
  padding: 10px;
  color: blue;
  transition: 3s;
}

.update-btn:hover {
  background: #d0b6dc;
  text-decoration: none;
}

.cancelupdate {
  padding: 8px;
  display: block;
  margin: 10px auto;
  background: #ff6f36ec;
  color: white;
  border: none;
}
