.my-booking-section h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.my-booking-section {
  width: 100%;
  max-width: 1200px;
  /* Adjust max-width as needed */
  margin: 0 auto;
  padding: 20px;
}

.bookings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Adjust minmax width as needed */
  grid-gap: 20px;
}

/* Style for individual booking card */

.my-booking-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Additional styling for specific elements inside booking card */

.my-booking-card h2 {
  margin-top: 0;
  font-size: 18px;
}

.my-booking-card p {
  margin: 10px 0;
}

/* Media query for responsiveness */

@media (max-width: 768px) {
  .bookings {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Adjust minmax width for smaller screens */
  }
}
