.snavbar {
  position: relative;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 70px;
  right: -250px;
  background-color: rgb(133, 100, 90);
  padding-top: 50px;
  transition: left 11s ease;
  z-index: 1;
}

.snavbar.open {
  right: 0;
}

.toggle-button {
  /* z-index: -1; */
  position: fixed;
  /* position: absolute; */
  /* position: relative; */
  top: 7px;
  /* top: 0; */
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgb(0, 0, 0);
}

.snavbar-links {
  list-style-type: none;
  padding: 0;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  /* Set flex direction to column */
  align-items: flex-start;
  /* Align items to start */
}

.snavbar-links li {
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
}

.snavbar-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  /* font-weight: bold; */
}

.snavbar-links a:hover {
  color: #66cdaa;
}

.snav-icon {
  margin-right: 6px;
}
