.navbar-container {
  position: relative;
  overflow: hidden;
  height: 70px;
  background-color: #f8f9fa;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  height: 100%;
  margin: 20px;
  padding: 0;
  width: 100%;
}

.auth {
  position: relative;
  top: -40px;
  left: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 25px;
  text-decoration: none;
}

.navbar-nav .nav-item {
  margin: 0 10px;
  align-items: center;
}

.nav-link {
  color: #333;
  align-items: center;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.nav-link:hover {
  color: #007bff;
  text-decoration: none;
}

.navbar-nav .nav-link.active {
  color: #007bff;
}

.profile {
  position: relative;
  top: -45px;
  right: -1120px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  align-items: center;
  margin-right: 4rem;
}

.profile .icon {
  width: 30px;
  height: 90%;
  cursor: pointer;
}

.nav-icon {
  margin-right: 100px;
  position: relative;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  margin-left: 70px;
}

.logo-h1 {
  font-size: 24px;
  color: #333;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

.logo-h1:hover {
  color: #555;
}

/* Notification Icon */

.notification-icon {
  position: relative;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.notification-icon:hover {
  color: #007bff;
}

/* Notification Popup */

.notification-popup {
  position: absolute;
  top: 70px;
  /* Adjust to align under the navbar */
  right: 0;
  background-color: rgb(33, 4, 4);
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
  /* Adjust width as needed */
}

.notification-items {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.notification-items:last-child {
  border-bottom: none;
}

.notification-messages {
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  color: #333;
}

.notification-messages:hover {
  color: #007bff;
  text-decoration: underline;
}

.nav-icon {
  cursor: pointer;
}
