.event-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 1rem; */
}

.events-card {
  background-color: #e7f4ff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  height: 250px;
}

.events-card p {
  margin: 0.5rem 0;
  color: black;
}

.edetails {
  display: flex;
  justify-content: space-around;
}

.view-details-btn {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.view-details-btn:hover {
  background-color: #3e8e41;
}

.popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  display: none;
  color: #333;
}

.popup-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  left: 50%;
  max-height: 80vh;
  overflow-y: auto;
  padding: 1rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  z-index: 1000;
  display: none;
}

.popup-card.active {
  display: block;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.event-images {
  margin-bottom: 1rem;
}

.event-images img {
  border-radius: 5px;
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.event-info {
  /* margin-bottom: .1rem; */
  display: flex;
  justify-content: space-around;
}

.event-info p {
  color: #333;
}

h2 {
  margin: 0 0 0.5rem;
  text-align: center;
}

.book-btn {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color: #3e8e41;
}

.comment-cotainer {
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  padding-top: 1rem;
}

.p3 {
  margin: 0;
  color: #7f7f7f;
}

.list {
  display: flex;
  gap: 20px;
}

.itemlist {
  color: rgb(0, 0, 0);
  background: #489aff57;
  padding: 2px 4px 4px 5px;
  border-radius: 3px;
}

.btn-section-book {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-section-book > .submit-btn {
  background-color: #695e69;
  width: 50%;
}

.btn-section-book button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 19px;
}

.container-create-booking p {
  color: blueviolet;
}
