/* myevent.css */

.myevent-container {
    position: relative;
}

.card {
    position: relative;
    z-index: 1;
    /* Ensure the card content stays above the blur */
}

.card-content {
    transition: filter 0.3s ease;
}

.blur-background {
    filter: blur(5px);
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure the form popup is on top */
    width: 400px;
    max-width: 90%;
    border-radius: 8px;
}

.form-popup .morebutton {
    display: flex;
    justify-content: space-between;
}

.form-popup label {
    display: block;
    margin-top: 10px;
}

.form-popup input,
.form-popup select,
.form-popup textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-popup .add-service {
    margin-left: 10px;
}

.form-popup ul {
    padding: 0;
    list-style-type: none;
}

.form-popup li {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.form-popup li button {
    margin-left: 10px;
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Ensure the image modal is on top */
}

.image-modal-content {
    background: white;
    padding: 20px;
    position: relative;
    border-radius: 8px;
}

.image-modal img.large-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-modal .delete-button-modal,
.image-modal .cancel-button-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.image-modal .cancel-button-modal {
    background: grey;
    right: 60px;
}