.items {
  display: grid;
  grid-template-columns: 5fr repeat(auto, 1fr);
  /* background: rgb(130, 130, 130); */
}

/* .evetns-items {
    margin: 10px 10px 10px 10px;
  } */

.events {
  display: grid;
  grid-template-columns: 3fr;
}

.container-items {
  display: grid;
  grid-template-columns: 5fr repeat(auto, 1fr);
}

.evetns-items {
  margin: 10px 10px 10px 10px;
}

.events {
  display: grid;
  grid-template-columns: 3fr;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
