.form {
  margin-top: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  gap: 50px;
  width: 70%;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: row;
}

.error {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.btns {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

@media (max-width: 768px) {
  .input,
  .button {
    font-size: 14px;
  }
}
